body{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
}

.qrcode{
    width: 300px;
    height: auto;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: auto;
}

.qrcode >img{
    width: 100%;
    overflow: auto;
}

h1{
    font-weight: bold;
    font-size: 18px;
}

.center{
    text-align: center;
    text-justify: auto;
}

.grey{
    color: rgb(65, 65, 65);
    font-weight: 200;
    text-align:center;
}

.attribution{
    margin-top: 30px;
}

.attribution a{
    text-decoration: none;
    color: rgb(51, 200, 250);
}

@media only screen and (max-width:375px) {
    .qrcode{
        width:100%;
    }
}
